[provider]
provider = "debian"
providers = ["debian", "bun"]

[phases.setup]
nixPkgs = [
    "bun"
]
nixpkgsArchive = '5148520bfab61f99fd25fb9ff7bfbb50dad3c9db'

[phases.install]
cmds = [
    'bun install'
]

[phases.build]
dependsOn = ['install']
cmds = ['bun run build']

[start]
dependsOn = ['build']
cmd = 'bun run start'

[variables]
NODE_ENV = 'production'
